name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    permissions: 
      contents: read
      packages: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build the Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Courier/Dockerfile
        push: false
        tags: courier:ci
        secrets: |
          github_token=${{ secrets.GITHUB_TOKEN }}
          github_actor=${{ github.actor }}
